.inner-article
{
  padding:2em;
  line-height: 1.8;
}
.content
{
  width:67%;
  padding-top: 1.3em;
}
.content h1
{
  margin: 0.5em;
  line-height:1.3;
  font-size: 2.796em;
  color:#333;
  text-align:center;
  font-weight:300;
}
.content p
{
  color: #545454;
  text-align:left;
  font-size:15px;
}
thead td
{
  color:#555555;
}
@media screen and (max-width: 1080px)
{
  .content
  {
    width:85%;
  }
  .inner-article
  {
    padding:0;
  }

}
