.mx-auto{
    max-width: 1000px;
}

.scholarship h1,
.scholarship hr,
.scholarship ul li{
    padding-left: 20px;
}

.scholarship ul{
    font-size: .95em;
    font-weight: 600;
}

.scholarship{
    margin-bottom: 5px;
}

footer{
    margin-top: 30px;
}

.more-button{
    color: gray;
    font-weight: 100;
    font-size: 1em;
    cursor: pointer;
}

.more-recipients{
    display: none;
}
