.image-portfolio {
    width: 55em; 
    height: auto; 
    margin-bottom: 0.5em
}
@media only screen and (max-width: 719px) {
    .image-portfolio {
        width: 100%;
        height: auto;
    }
}    
.subpage-container :is(p, h1){
    line-height: 1.8;
}
